<button class="btn btn-primary" routerLink="/characters">
  Show All Characters
</button>

<form
  class="charsheet"
  [formGroup]="reactiveForm"
  (ngSubmit)="onCharacterChange()"
>
  <header>
    <section class="charname">
      <label for="charname">Character Name</label
      ><input
        name="charname"
        value="{{ character?.name }}"
        formControlName="name"
      />
    </section>
    <section class="misc">
      <ul>
        <li>
          <label for="classlevel">Class & Level</label
          ><input
            name="classlevel"
            value="{{ character?.class }} {{ character?.level }}"
            formControlName="class"
            required
          />
        </li>
        <li>
          <label for="background">Background</label
          ><input
            name="background"
            value="{{ character?.background }}"
            formControlName="background"
          />
        </li>
        <li>
          <label for="playername">Player Name</label
          ><input name="playername" placeholder="Player McPlayerface" />
          <!-- value="{{user}}" -->
        </li>
        <li>
          <label for="race">Race</label
          ><input
            name="race"
            value="{{ character?.race }}"
            formControlName="race"
            required
          />
        </li>
        <li>
          <label for="alignment">Alignment</label
          ><input
            name="alignment"
            value="{{ character?.alignment }}"
            formControlName="alignment"
          />
        </li>
        <li>
          <label for="experiencepoints">Experience Points</label
          ><input name="experiencepoints" placeholder="3240" />
          <!-- value="{{experience}}" -->
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section>
      <section class="attributes">
        <div class="scores">
          <ul>
            <li>
              <div class="score">
                <label for="Strengthscore">Strength</label
                ><input
                  name="Strengthscore"
                  value="{{ character?.attributes.strength }}"
                  formControlName="strength"
                  required
                />
              </div>
              <div class="modifier">
                <input
                  name="Strengthmod"
                  value="{{ modifierScores.strengthMod }}"
                />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Dexterityscore">Dexterity</label
                ><input
                  name="Dexterityscore"
                  value="{{ character?.attributes.dexterity }}"
                  formControlName="dexterity"
                  required
                />
              </div>
              <div class="modifier">
                <input
                  name="Dexteritymod"
                  value="{{ modifierScores.dexMod }}"
                />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Constitutionscore">Constitution</label
                ><input
                  name="Constitutionscore"
                  value="{{ character?.attributes.constitution }}"
                  formControlName="constitution"
                  required
                />
              </div>
              <div class="modifier">
                <input
                  name="Constitutionmod"
                  value="{{ modifierScores.conMod }}"
                />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Wisdomscore">Wisdom</label
                ><input
                  name="Wisdomscore"
                  value="{{ character?.attributes.wisdom }}"
                  formControlName="wisdom"
                  required
                />
              </div>
              <div class="modifier">
                <input name="Wisdommod" value="{{ modifierScores.wisMod }}" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Intelligencescore">Intelligence</label
                ><input
                  name="Intelligencescore"
                  value="{{ character?.attributes.intelligence }}"
                  formControlName="intelligence"
                  required
                />
              </div>
              <div class="modifier">
                <input
                  name="Intelligencemod"
                  value="{{ modifierScores.intMod }}"
                />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Charismascore">Charisma</label
                ><input
                  name="Charismascore"
                  value="{{ character?.attributes.charisma }}"
                  formControlName="charisma"
                  required=""
                />
              </div>
              <div class="modifier">
                <input
                  name="Charismamod"
                  value="{{ modifierScores.charismaMod }}"
                />
              </div>
            </li>
          </ul>
        </div>
        <div class="attr-applications">
          <div class="inspiration box">
            <div class="label-container">
              <label for="inspiration">Inspiration</label>
            </div>
            <input
              name="inspiration"
              type="checkbox"
              formControlName="inspiration"
            />
          </div>
          <div class="proficiencybonus box">
            <div class="label-container">
              <label for="proficiencybonus">Proficiency Bonus</label>
            </div>
            <input name="proficiencybonus" value="+{{ profBonus }}" />
          </div>
          <div class="saves list-section box">
            <ul>
              <li>
                <label for="Strength-save">Strength</label
                ><input
                  name="Strength-save"
                  type="text"
                  value="{{ displaySign(savingThrows.strengthSave) }}{{
                    savingThrows.strengthSave
                  }}"
                  formControlName="strengthSave"
                  required
                /><input
                  name="Strength-save-prof"
                  type="checkbox"
                  (change)="onClickCheck($event, 'strengthSave')"
                  formControlName="strengthSaveProf"
                />
              </li>
              <li>
                <label for="Dexterity-save">Dexterity</label
                ><input
                  name="Dexterity-save"
                  type="text"
                  value="{{ displaySign(savingThrows.dexSave) }}{{
                    savingThrows.dexSave
                  }}"
                  formControlName="dexteritySave"
                  required
                /><input
                  name="Dexterity-save-prof"
                  type="checkbox"
                  (change)="onClickCheck($event, 'dexSave')"
                  formControlName="dexteritySaveProf"
                />
              </li>
              <li>
                <label for="Constitution-save">Constitution</label
                ><input
                  name="Constitution-save"
                  type="text"
                  value="{{ displaySign(savingThrows.conSave) }}{{
                    savingThrows.conSave
                  }}"
                  formControlName="conSave"
                  required
                /><input
                  name="Constitution-save-prof"
                  type="checkbox"
                  (change)="onClickCheck($event, 'conSave')"
                  formControlName="conSaveProf"
                />
              </li>
              <li>
                <label for="Wisdom-save">Wisdom</label
                ><input
                  name="Wisdom-save"
                  type="text"
                  value="{{ displaySign(savingThrows.wisdomSave) }}{{
                    savingThrows.wisdomSave
                  }}"
                  formControlName="wisdomSave"
                  required
                /><input
                  name="Wisdom-save-prof"
                  type="checkbox"
                  (change)="onClickCheck($event, 'wisdomSave')"
                  formControlName="wisdomSaveProf"
                />
              </li>
              <li>
                <label for="Intelligence-save">Intelligence</label
                ><input
                  name="Intelligence-save"
                  type="text"
                  value="{{ displaySign(savingThrows.intSave) }}{{
                    savingThrows.intSave
                  }}"
                  formControlName="intSave"
                  required
                /><input
                  name="Intelligence-save-prof"
                  type="checkbox"
                  (change)="onClickCheck($event, 'intSave')"
                  formControlName="intSaveProf"
                />
              </li>
              <li>
                <label for="Charisma-save">Charisma</label
                ><input
                  name="Charisma-save"
                  type="text"
                  value="{{ displaySign(savingThrows.charismaSave) }}{{
                    savingThrows.charismaSave
                  }}"
                  formControlName="charismaSave"
                  required
                /><input
                  name="Charisma-save-prof"
                  type="checkbox"
                  (change)="onClickCheck($event, 'charismaSave')"
                />
              </li>
            </ul>
            <div class="label">Saving Throws</div>
          </div>
          <div class="skills list-section box">
            <ul>
              <li>
                <label for="Acrobatics"
                  >Acrobatics <span class="skill">(Dex)</span></label
                ><input
                  name="Acrobatics"
                  type="text"
                  value="{{ displaySign(skills.acrobatics) }}{{
                    skills.acrobatics
                  }}"
                  formControlName="acrobatics"
                  required
                /><input
                  name="Acrobatics-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'acrobatics')"
                  formControlName="acrobaticsProf"
                />
              </li>
              <li>
                <label for="Animal Handling"
                  >Animal Handling <span class="skill">(Wis)</span></label
                ><input
                  name="Animal Handling"
                  type="text"
                  value="{{ displaySign(skills.animal) }}{{ skills.animal }}"
                  formControlName="animal"
                  required
                /><input
                  name="Animal Handling-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'animal')"
                  formControlName="animalProf"
                />
              </li>
              <li>
                <label for="Arcana"
                  >Arcana <span class="skill">(Int)</span></label
                ><input
                  name="Arcana"
                  type="text"
                  value="{{ displaySign(skills.arcana) }}{{ skills.arcana }}"
                  formControlName="arcana"
                  required
                /><input
                  name="Arcana-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'arcana')"
                />
              </li>
              <li>
                <label for="Athletics"
                  >Athletics <span class="skill">(Str)</span></label
                ><input
                  name="Athletics"
                  type="text"
                  value="{{ displaySign(skills.athletics) }}{{
                    skills.athletics
                  }}"
                  formControlName="athletics"
                  required
                /><input
                  name="Athletics-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'athletics')"
                />
              </li>
              <li>
                <label for="Deception"
                  >Deception <span class="skill">(Cha)</span></label
                ><input
                  name="Deception"
                  type="text"
                  value="{{ displaySign(skills.deception) }}{{
                    skills.deception
                  }}"
                  formControlName="deception"
                  required
                /><input
                  name="Deception-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'deception')"
                />
              </li>
              <li>
                <label for="History"
                  >History <span class="skill">(Int)</span></label
                ><input
                  name="History"
                  type="text"
                  value="{{ displaySign(skills.history) }}{{ skills.history }}"
                  formControlName="history"
                  required
                /><input
                  name="History-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'history')"
                />
              </li>
              <li>
                <label for="Insight"
                  >Insight <span class="skill">(Wis)</span></label
                ><input
                  name="Insight"
                  type="text"
                  value="{{ displaySign(skills.insight) }}{{ skills.insight }}"
                  formControlName="insight"
                  required
                /><input
                  name="Insight-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'insight')"
                />
              </li>
              <li>
                <label for="Intimidation"
                  >Intimidation <span class="skill">(Cha)</span></label
                ><input
                  name="Intimidation"
                  type="text"
                  value="{{ displaySign(skills.intimidation) }}{{
                    skills.intimidation
                  }}"
                  formControlName="intimidation"
                  required
                /><input
                  name="Intimidation-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'intimidation')"
                />
              </li>
              <li>
                <label for="Investigation"
                  >Investigation <span class="skill">(Int)</span></label
                ><input
                  name="Investigation"
                  type="text"
                  value="{{ displaySign(skills.investigation) }}{{
                    skills.investigation
                  }}"
                  formControlName="investigation"
                  required
                /><input
                  name="Investigation-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'investigation')"
                />
              </li>
              <li>
                <label for="Medicine"
                  >Medicine <span class="skill">(Wis)</span></label
                ><input
                  name="Medicine"
                  type="text"
                  value="{{ displaySign(skills.medicine) }}{{
                    skills.medicine
                  }}"
                  formControlName="medicine"
                  required
                /><input
                  name="Medicine-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'medicine')"
                />
              </li>
              <li>
                <label for="Nature"
                  >Nature <span class="skill">(Int)</span></label
                ><input
                  name="Nature"
                  type="text"
                  value="{{ displaySign(skills.nature) }}{{ skills.nature }}"
                  formControlName="nature"
                  required
                /><input
                  name="Nature-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'nature')"
                />
              </li>
              <li>
                <label for="Perception"
                  >Perception <span class="skill">(Wis)</span></label
                ><input
                  name="Perception"
                  type="text"
                  value="{{ displaySign(skills.perception) }}{{
                    skills.perception
                  }}"
                  formControlName="perception"
                  required
                /><input
                  name="Perception-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'perception')"
                />
              </li>
              <li>
                <label for="Performance"
                  >Performance <span class="skill">(Cha)</span></label
                ><input
                  name="Performance"
                  type="text"
                  value="{{ displaySign(skills.performance) }}{{
                    skills.performance
                  }}"
                  formControlName="performance"
                  required
                /><input
                  name="Performance-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'performance')"
                />
              </li>
              <li>
                <label for="Persuasion"
                  >Persuasion <span class="skill">(Cha)</span></label
                ><input
                  name="Persuasion"
                  type="text"
                  value="{{ displaySign(skills.persuasion) }}{{
                    skills.persuasion
                  }}"
                  formControlName="persuasion"
                  required
                /><input
                  name="Persuasion-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'persuasion')"
                />
              </li>
              <li>
                <label for="Religion"
                  >Religion <span class="skill">(Int)</span></label
                ><input
                  name="Religion"
                  type="text"
                  value="{{ displaySign(skills.religion) }}{{
                    skills.religion
                  }}"
                  formControlName="religion"
                  required
                /><input
                  name="Religion-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'religion')"
                />
              </li>
              <li>
                <label for="Sleight of Hand"
                  >Sleight of Hand <span class="skill">(Dex)</span></label
                ><input
                  name="Sleight of Hand"
                  type="text"
                  value="{{ displaySign(skills.sleight) }}{{ skills.sleight }}"
                  formControlName="sleight"
                  required
                /><input
                  name="Sleight of Hand-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'sleight')"
                />
              </li>
              <li>
                <label for="Stealth"
                  >Stealth <span class="skill">(Dex)</span></label
                ><input
                  name="Stealth"
                  type="text"
                  value="{{ displaySign(skills.stealth) }}{{ skills.stealth }}"
                  formControlName="stealth"
                  required
                /><input
                  name="Stealth-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'stealth')"
                />
              </li>
              <li>
                <label for="Survival"
                  >Survival <span class="skill">(Wis)</span></label
                ><input
                  name="Survival"
                  type="text"
                  value="{{ displaySign(skills.survival) }}{{
                    skills.survival
                  }}"
                  formControlName="survival"
                  required
                /><input
                  name="Survival-prof"
                  type="checkbox"
                  (change)="onClickSkill($event, 'survival')"
                />
              </li>
            </ul>
            <div class="label">Skills</div>
          </div>
        </div>
      </section>
      <div class="passive-perception box">
        <div class="label-container">
          <label for="passiveperception">Passive Wisdom (Perception)</label>
        </div>
        <input
          name="passiveperception"
          placeholder="10"
          formControlName="passivePerception"
        />
      </div>
      <div class="otherprofs box textblock">
        <label for="otherprofs">Other Proficiencies and Languages</label
        ><textarea name="otherprofs" formControlName="otherProfs"></textarea>
      </div>
    </section>
    <section>
      <section class="combat">
        <div class="armorclass">
          <div>
            <label for="ac">Armor Class</label
            ><input name="ac" type="text" value="{{ armorClass }}" />
          </div>
        </div>
        <div class="initiative">
          <div>
            <label for="initiative">Initiative</label
            ><input
              name="initiative"
              type="text"
              value="{{ modifierScores.dexMod }}"
              formControlName="initiative"
              required
            />
          </div>
        </div>
        <div class="speed">
          <div>
            <label for="speed">Speed</label
            ><input
              name="speed"
              placeholder="30"
              type="text"
              formControlName="movement"
            />
          </div>
        </div>
        <div class="hp">
          <div class="regular">
            <div class="max">
              <label for="maxhp">Hit Point Maximum</label
              ><input
                name="maxhp"
                placeholder="10"
                type="text"
                formControlName="hpMax"
                required
              />
            </div>
            <div class="current">
              <label for="currenthp">Current Hit Points</label
              ><input
                name="currenthp"
                type="text"
                formControlName="currentHP"
                required
              />
            </div>
          </div>
          <div class="temporary">
            <label for="temphp">Temporary Hit Points</label
            ><input name="temphp" type="text" formControlName="tempHP" />
          </div>
        </div>
        <div class="hitdice">
          <div>
            <div class="total">
              <label for="totalhd">Total</label
              ><input
                name="totalhd"
                placeholder="2d10"
                type="text"
                formControlName="totalHP"
                required
              />
            </div>
            <div class="remaining">
              <label for="remaininghd">Hit Dice</label
              ><input
                name="remaininghd"
                type="text"
                formControlName="remainingHD"
                required
              />
            </div>
          </div>
        </div>
        <div class="deathsaves">
          <div>
            <div class="label">
              <label>Death Saves</label>
            </div>
            <div class="marks">
              <div class="deathsuccesses">
                <label>Successes</label>
                <div class="bubbles" >
                  <input name="deathsuccess1" type="checkbox" formControlName="deathsuccess1"/>
                  <input name="deathsuccess2" type="checkbox" formControlName="deathsuccess2"/>
                  <input name="deathsuccess3" type="checkbox" formControlName="deathsuccess3"/>
                </div>
              </div>
              <div class="deathfails" formControlName="deathFail">
                <label>Failures</label>
                <div class="bubbles">
                  <input name="deathfail1" type="checkbox" />
                  <input name="deathfail2" type="checkbox" />
                  <input name="deathfail3" type="checkbox" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="attacksandspellcasting">
        <div>
          <label>Attacks & Spellcasting</label>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Atk Bonus</th>
                <th>Damage/Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input name="atkname1" type="text" />
                </td>
                <td>
                  <input name="atkbonus1" type="text" />
                </td>
                <td>
                  <input name="atkdamage1" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname2" type="text" />
                </td>
                <td>
                  <input name="atkbonus2" type="text" />
                </td>
                <td>
                  <input name="atkdamage2" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname3" type="text" />
                </td>
                <td>
                  <input name="atkbonus3" type="text" />
                </td>
                <td>
                  <input name="atkdamage3" type="text" />
                </td>
              </tr>
            </tbody>
          </table>
          <textarea></textarea>
        </div>
      </section>
      <section class="equipment">
        <div>
          <label>Equipment</label>
          <div class="money">
            <ul>
              <li>
                <label for="cp">cp</label
                ><input name="cp" formControlName="cp" />
              </li>
              <li>
                <label for="sp">sp</label
                ><input name="sp" formControlName="sp" />
              </li>
              <li>
                <label for="ep">ep</label
                ><input name="ep" formControlName="ep" />
              </li>
              <li>
                <label for="gp">gp</label
                ><input name="gp" formControlName="gp" />
              </li>
              <li>
                <label for="pp">pp</label
                ><input name="pp" formControlName="pp" />
              </li>
            </ul>
          </div>
          <textarea placeholder="Equipment list here"></textarea>
        </div>
      </section>
    </section>
    <section>
      <section class="flavor">
        <div class="personality">
          <label for="personality">Personality</label
          ><textarea name="personality"></textarea>
        </div>
        <div class="ideals">
          <label for="ideals">Ideals</label
          ><textarea name="ideals" formControlName="ideals"></textarea>
        </div>
        <div class="bonds">
          <label for="bonds">Bonds</label
          ><textarea name="bonds" formControlName="bonds"></textarea>
        </div>
        <div class="flaws">
          <label for="flaws">Flaws</label
          ><textarea name="flaws" formControlName="flaws"></textarea>
        </div>
      </section>
      <section class="features">
        <div>
          <label for="features">Features & Traits</label>
          <textarea name="features" formControlName="features"></textarea>
        </div>
        <div class="positional">
          <button class="button-position" type="submit">Save Changes</button>
        </div>
      </section>
    </section>
  </main>
</form>
