.character-list {
  margin: auto;
  list-style-type: none;
  padding: 0.25;
  width: 25em;
}

.characters {
  margin: auto;
  list-style-type: none;
  padding: 0.25;
  width: 25em;
  background-color: rgb(6, 92, 95);
  border-radius: 25px;
}

.subtract {
  border: none;
  font: 1.25em;
  background-color: red;
  color: white;
  border-radius: 6px;
  position: relative;
}
